<a href="https://colab.research.google.com/github/nhareesha/MLAI/blob/main/LLM/finetuned/Attempt_5_sql_data_gen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Need A100 processing units to run.

In [55]:
pip install pandas datasets

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: datasets in /usr/local/lib/python3.10/dist-packages (2.21.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from datasets) (3.15.4)
Requirement already satisfied: pyarrow>=15.0.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (17.0.0)
Requirement already satisfied: dill<0.3.9,>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (0.3.8)
Requirement already satisfied: requests>=2.32.2 in /usr/local/lib/python3.10/dist-packages (from datasets) (2.32.3)
Requirement already satisfied: tqdm>=4.66.3 in /usr/local/lib/python3.10/dist-packages (from datasets) (4.66.5)
Requirement already satisfied: xxhash in /usr/local/lib/python3.10/dist-packages (from datasets) (3.5.0)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.10/dist-packages (from datasets) (0.70.16)
Requirement already satisfied: fsspec<=2024.6.1,>=2023.1.0 in /usr/local/lib/python3.10/dist-packages (from fsspec[http]<=2024.6.1,>=2023.1.0->datasets) (2024.6.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from datasets) (3.10.5)
Requirement already satisfied: huggingface-hub>=0.21.2 in /usr/local/lib/python3.10/dist-packages (from datasets) (0.23.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from datasets) (24.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from datasets) (6.0.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (24.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (4.0.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.21.2->datasets) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.32.2->datasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.32.2->datasets) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.32.2->datasets) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.32.2->datasets) (2024.7.4)

In [56]:
import os
import torch
import random
import numpy as np
from datasets import load_dataset
from torch.utils.data import Dataset, DataLoader, random_split
from transformers import T5ForConditionalGeneration, T5Tokenizer, Trainer, TrainingArguments

# Step 0: Set Seed for Reproducibility

In [57]:
# Step 0: Set Seed for Reproducibility
def set_seed(seed):
    random.seed(seed)
    np.random.seed(seed)
    torch.manual_seed(seed)
    if torch.cuda.is_available():
        torch.cuda.manual_seed_all(seed)

set_seed(402)  # Set your seed here

In [58]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Step 1: Load the Spider Dataset

In [59]:
def load_spider_data(split_type='train'):
    # Load the Spider dataset
    dataset = load_dataset('spider', split=split_type)  # Use the split you need (train, validation, test)
    return dataset

In [31]:
ds = load_spider_data()
type(ds)
print(ds[:2])

{'db_id': ['department_management', 'department_management'], 'query': ['SELECT count(*) FROM head WHERE age  >  56', 'SELECT name ,  born_state ,  age FROM head ORDER BY age'], 'question': ['How many heads of the departments are older than 56 ?', 'List the name, born state and age of the heads of departments ordered by age.'], 'query_toks': [['SELECT', 'count', '(', '*', ')', 'FROM', 'head', 'WHERE', 'age', '>', '56'], ['SELECT', 'name', ',', 'born_state', ',', 'age', 'FROM', 'head', 'ORDER', 'BY', 'age']], 'query_toks_no_value': [['select', 'count', '(', '*', ')', 'from', 'head', 'where', 'age', '>', 'value'], ['select', 'name', ',', 'born_state', ',', 'age', 'from', 'head', 'order', 'by', 'age']], 'question_toks': [['How', 'many', 'heads', 'of', 'the', 'departments', 'are', 'older', 'than', '56', '?'], ['List', 'the', 'name', ',', 'born', 'state', 'and', 'age', 'of', 'the', 'heads', 'of', 'departments', 'ordered', 'by', 'age', '.']]}

# Step 2: Prepare the SQLDataset class

In [60]:
class SQLDataset(Dataset):
    def __init__(self, data, tokenizer, max_length=512):
        self.data = data
        self.tokenizer = tokenizer
        self.max_length = max_length

    def __len__(self):
        return len(self.data)

    def __getitem__(self, idx):
        question = self.data[idx]['question']  # Get question
        answer = self.data[idx]['query']        # Get corresponding SQL from 'query' key

        # Tokenize the inputs and labels
        inputs = self.tokenizer(
            question, max_length=self.max_length, padding='max_length', truncation=True, return_tensors="pt"
        )

        # You can choose which tokens to use for labels:
        # Here we can use both the actual SQL query and the tokenized versions
        labels = self.tokenizer(
            answer, max_length=self.max_length, padding='max_length', truncation=True, return_tensors="pt"
        )

        # Tokenize `query_toks` and `query_toks_no_value` if needed
        query_toks = self.data[idx]['query_toks']
        query_toks_no_value = self.data[idx]['query_toks_no_value']

        # You might want to process query_toks and query_toks_no_value for additional insights or features

        # Flatten the tensor dimensions
        input_ids = inputs.input_ids.squeeze()
        attention_mask = inputs.attention_mask.squeeze()
        labels = labels.input_ids.squeeze()

        return {
            'input_ids': input_ids,
            'attention_mask': attention_mask,
            'labels': labels,
            'query_toks': query_toks,  # Return raw tokenized query
            'query_toks_no_value': query_toks_no_value  # Return raw tokenized query without values
        }

# Collate function to make all fileds of same length

pad the sequences in the batch to ensure they all have the same length. This is typically done with a custom collate function in the DataLoader

In [61]:
from torch.nn.utils.rnn import pad_sequence

def collate_fn(batch):
    # Extracting the relevant fields
    input_ids = [item['input_ids'] for item in batch]
    attention_mask = [item['attention_mask'] for item in batch]
    labels = [item['labels'] for item in batch]

    # Pad the sequences to the maximum length in the batch
    input_ids_padded = pad_sequence(input_ids, batch_first=True, padding_value=tokenizer.pad_token_id)
    attention_mask_padded = pad_sequence(attention_mask, batch_first=True, padding_value=0)
    labels_padded = pad_sequence(labels, batch_first=True, padding_value=-100)  # Use -100 to ignore padding in the loss function

    return {
        'input_ids': input_ids_padded,
        'attention_mask': attention_mask_padded,
        'labels': labels_padded
    }

# Step 3: Load Pre-Trained Model and Tokenizer

In [ ]:
# Original base model - Can be used for ZERO SHOT referencing

model_name = 't5-small'  # or the name of your trained model
tokenizer = T5Tokenizer.from_pretrained(model_name)
original_model = T5ForConditionalGeneration.from_pretrained(model_name)

tokenizer_config.json:   0%|          | 0.00/2.32k [00:00<?, ?B/s]

spiece.model:   0%|          | 0.00/792k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/1.39M [00:00<?, ?B/s]

You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

config.json:   0%|          | 0.00/1.21k [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/242M [00:00<?, ?B/s]

generation_config.json:   0%|          | 0.00/147 [00:00<?, ?B/s]

In [34]:
# Load already finetuned model

model_path = '/content/drive/MyDrive/Colab Notebooks/NLP/SavedModels/attempt_5/finetuned_model'
tokenizer = T5Tokenizer.from_pretrained(model_path)
model = T5ForConditionalGeneration.from_pretrained(model_path)

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [62]:
# Model for fine tuning
model_name = 't5-small'  # or the name of your trained model
tokenizer = T5Tokenizer.from_pretrained(model_name)
model = T5ForConditionalGeneration.from_pretrained(model_name)

tokenizer_config.json:   0%|          | 0.00/2.32k [00:00<?, ?B/s]

spiece.model:   0%|          | 0.00/792k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/1.39M [00:00<?, ?B/s]

You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

config.json:   0%|          | 0.00/1.21k [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/242M [00:00<?, ?B/s]

generation_config.json:   0%|          | 0.00/147 [00:00<?, ?B/s]

# Load previous checkpoint if exists

In [35]:
# Move the model to GPU if available
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
#device = torch.device('cpu')

model.to(device)

T5ForConditionalGeneration(
  (shared): Embedding(32128, 512)
  (encoder): T5Stack(
    (embed_tokens): Embedding(32128, 512)
    (block): ModuleList(
      (0): T5Block(
        (layer): ModuleList(
          (0): T5LayerSelfAttention(
            (SelfAttention): T5Attention(
              (q): Linear(in_features=512, out_features=512, bias=False)
              (k): Linear(in_features=512, out_features=512, bias=False)
              (v): Linear(in_features=512, out_features=512, bias=False)
              (o): Linear(in_features=512, out_features=512, bias=False)
              (relative_attention_bias): Embedding(32, 8)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (1): T5LayerFF(
            (DenseReluDense): T5DenseActDense(
              (wi): Linear(in_features=512, out_features=2048, bias=False)
              (wo): Linear(in_features=2048, out_features=512, bias=False)
              (dropout): Dropout(p=0.1, inplace=False)
              (act): ReLU()
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
      (1-5): 5 x T5Block(
        (layer): ModuleList(
          (0): T5LayerSelfAttention(
            (SelfAttention): T5Attention(
              (q): Linear(in_features=512, out_features=512, bias=False)
              (k): Linear(in_features=512, out_features=512, bias=False)
              (v): Linear(in_features=512, out_features=512, bias=False)
              (o): Linear(in_features=512, out_features=512, bias=False)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (1): T5LayerFF(
            (DenseReluDense): T5DenseActDense(
              (wi): Linear(in_features=512, out_features=2048, bias=False)
              (wo): Linear(in_features=2048, out_features=512, bias=False)
              (dropout): Dropout(p=0.1, inplace=False)
              (act): ReLU()
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
    (final_layer_norm): T5LayerNorm()
    (dropout): Dropout(p=0.1, inplace=False)
  )
  (decoder): T5Stack(
    (embed_tokens): Embedding(32128, 512)
    (block): ModuleList(
      (0): T5Block(
        (layer): ModuleList(
          (0): T5LayerSelfAttention(
            (SelfAttention): T5Attention(
              (q): Linear(in_features=512, out_features=512, bias=False)
              (k): Linear(in_features=512, out_features=512, bias=False)
              (v): Linear(in_features=512, out_features=512, bias=False)
              (o): Linear(in_features=512, out_features=512, bias=False)
              (relative_attention_bias): Embedding(32, 8)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (1): T5LayerCrossAttention(
            (EncDecAttention): T5Attention(
              (q): Linear(in_features=512, out_features=512, bias=False)
              (k): Linear(in_features=512, out_features=512, bias=False)
              (v): Linear(in_features=512, out_features=512, bias=False)
              (o): Linear(in_features=512, out_features=512, bias=False)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (2): T5LayerFF(
            (DenseReluDense): T5DenseActDense(
              (wi): Linear(in_features=512, out_features=2048, bias=False)
              (wo): Linear(in_features=2048, out_features=512, bias=False)
              (dropout): Dropout(p=0.1, inplace=False)
              (act): ReLU()
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
      (1-5): 5 x T5Block(
        (layer): ModuleList(
          (0): T5LayerSelfAttention(
            (SelfAttention): T5Attention(
              (q): Linear(in_features=512, out_features=512, bias=False)
              (k): Linear(in_features=512, out_features=512, bias=False)
              (v): Linear(in_features=512, out_features=512, bias=False)
              (o): Linear(in_features=512, out_features=512, bias=False)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (1): T5LayerCrossAttention(
            (EncDecAttention): T5Attention(
              (q): Linear(in_features=512, out_features=512, bias=False)
              (k): Linear(in_features=512, out_features=512, bias=False)
              (v): Linear(in_features=512, out_features=512, bias=False)
              (o): Linear(in_features=512, out_features=512, bias=False)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (2): T5LayerFF(
            (DenseReluDense): T5DenseActDense(
              (wi): Linear(in_features=512, out_features=2048, bias=False)
              (wo): Linear(in_features=2048, out_features=512, bias=False)
              (dropout): Dropout(p=0.1, inplace=False)
              (act): ReLU()
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
    (final_layer_norm): T5LayerNorm()
    (dropout): Dropout(p=0.1, inplace=False)
  )
  (lm_head): Linear(in_features=512, out_features=32128, bias=False)
)

In [63]:
# Create output directory and checkpoint directory if they don't exist
output_dir = '/content/drive/MyDrive/Colab Notebooks/NLP/SavedModels/attempt_5/run3'
checkpoint_dir = os.path.join(output_dir, 'checkpoint')
os.makedirs(checkpoint_dir, exist_ok=True)

#IGNORE for sometime

In [64]:

# Define your checkpoint path
previous_checkpoint_path = '/content/drive/MyDrive/Colab Notebooks/NLP/SavedModels/attempt_5/checkpoint/checkpoint-0.pt'

In [65]:
if os.path.exists(previous_checkpoint_path):
    checkpoint = torch.load(previous_checkpoint_path)
    model.load_state_dict(checkpoint['model_state_dict'])
    optimizer = torch.optim.AdamW(model.parameters(), lr=5e-4)
    optimizer.load_state_dict(checkpoint['optimizer_state_dict'])
    start_epoch = checkpoint['epoch']
else:
    optimizer = torch.optim.AdamW(model.parameters(), lr=5e-4)
    start_epoch = 0

# Step 4: Load and Prepare Data

In [66]:
from torch.utils.data import ConcatDataset

# Load the Spider Dataset
spider_dataset_everything = load_spider_data()
spider_dataset_train = load_spider_data('train')
spider_dataset_val = load_spider_data('validation')

# Combine the datasets
spider_dataset_combined = ConcatDataset([spider_dataset_train, spider_dataset_val])
len(spider_dataset_combined)

8034

## Can be used for continuous learning

In [ ]:
#start_index = 1
#end_index = 1000

# Set the starting index
start_index = 1001

# Get the end index, which is the length of the dataset
end_index = len(spider_dataset_everything)

In [ ]:
print(len(spider_dataset_train))

In [67]:

# Select based in indexes - Optinal#
# spider_dataset = spider_dataset_everything.select(range(start_index, end_index))

spider_dataset = spider_dataset_combined

# Define the sizes for the splits
train_size = int(0.8 * len(spider_dataset))
val_size = int(0.1 * len(spider_dataset))  # 10% for validation
test_size = len(spider_dataset) - train_size - val_size  # Remaining 10% for testing

# Split the dataset into train, validation, and test sets
train_dataset, temp_dataset = torch.utils.data.random_split(spider_dataset, [train_size, len(spider_dataset) - train_size])
val_dataset, test_dataset = torch.utils.data.random_split(temp_dataset, [val_size, test_size])

In [68]:
# Now, train_dataset, val_dataset, and test_dataset are ready to use
print(f"Training set size: {len(train_dataset)}")
print(f"Validation set size: {len(val_dataset)}")
print(f"Test set size: {len(test_dataset)}")

Training set size: 6427
Validation set size: 803
Test set size: 804

# Create DataLoaders

## dataset with collate function

In [69]:
# Create DataLoaders with the custom collate function
train_data_loader = DataLoader(SQLDataset(train_dataset, tokenizer), batch_size=8, shuffle=True, collate_fn=collate_fn)
val_data_loader = DataLoader(SQLDataset(val_dataset, tokenizer), batch_size=8, collate_fn=collate_fn)
test_data_loader = DataLoader(SQLDataset(test_dataset, tokenizer), batch_size=8, collate_fn=collate_fn)

# Step 5: Setup Training Arguments

In [70]:
training_args = TrainingArguments(
    output_dir=output_dir,
    eval_strategy='epoch',
    learning_rate=5e-4,
    per_device_train_batch_size=8,
    per_device_eval_batch_size=8,
    num_train_epochs=3,
    weight_decay=0.01,
    logging_dir='./logs',
    save_total_limit=2,  # Limit the total amount of checkpoints, delete the older checkpoints.
    save_steps=100,      # Save checkpoint every 500 steps

)

# Step 6: Initialize Trainer

In [71]:
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=train_data_loader.dataset,
    eval_dataset=val_data_loader.dataset,
)

# Step 7: Train the Model

#### Train the Model with Checkpointing

In [72]:
for epoch in range(start_epoch, training_args.num_train_epochs):
    trainer.train()

    # Save the model checkpoint
    checkpoint_path = os.path.join(checkpoint_dir, f'checkpoint-{epoch + 1}.pt')  # Specify the file name

    torch.save({
        'epoch': epoch + 1,
        'model_state_dict': model.state_dict(),
        'optimizer_state_dict': optimizer.state_dict(),
    }, checkpoint_path)

# Step 8: Evaluate the Model

In [73]:
# Step 8: Evaluate the Model
results = trainer.evaluate()

In [74]:
# Print evaluation results
print(f"Evaluation results: {results}")

Evaluation results: {'eval_loss': 0.018582770600914955, 'eval_runtime': 6.205, 'eval_samples_per_second': 129.412, 'eval_steps_per_second': 16.277, 'epoch': 3.0}

# Step 9: Generate Predictions on Test Set -------- NEED TO FIX

In [86]:
predictions = []
actuals = []

for batch in test_data_loader:
    input_ids = batch['input_ids'].to(model.device)
    attention_mask = batch['attention_mask'].to(model.device)

    with torch.no_grad():
        outputs = model.generate(
            input_ids=input_ids,
            attention_mask=attention_mask,
            max_length=1024,          # Increase max length
            num_beams=5,              # Use beam search
            early_stopping=True,      # Stop when output is complete
            temperature=1.0,          # Control randomness
            top_k=50,                 # Limit choices
            top_p=0.95                # Nucleus sampling
        )

    predicted_sql = tokenizer.batch_decode(outputs, skip_special_tokens=True)
    actual_sql = tokenizer.batch_decode(batch['labels'], skip_special_tokens=True)

    predictions.extend(predicted_sql)
    actuals.extend(actual_sql)

/usr/local/lib/python3.10/dist-packages/transformers/generation/configuration_utils.py:545: UserWarning: `do_sample` is set to `False`. However, `top_p` is set to `0.95` -- this flag is only used in sample-based generation modes. You should set `do_sample=True` or unset `top_p`.
  warnings.warn(

In [75]:

predictions = []
actuals = []

for batch in test_data_loader:
    input_ids = batch['input_ids'].to(model.device)
    attention_mask = batch['attention_mask'].to(model.device)

    with torch.no_grad():
        outputs = model.generate(input_ids=input_ids,
                                 attention_mask=attention_mask)

    predicted_sql = tokenizer.batch_decode(outputs, skip_special_tokens=True)
    actual_sql = tokenizer.batch_decode(batch['labels'], skip_special_tokens=True)

    predictions.extend(predicted_sql)
    actuals.extend(actual_sql)

/usr/local/lib/python3.10/dist-packages/transformers/generation/utils.py:1249: UserWarning: Using the model-agnostic default `max_length` (=20) to control the generation length. We recommend setting `max_new_tokens` to control the maximum length of the generation.
  warnings.warn(

# Compare predicted SQL with actual SQL

In [87]:
# Compare predicted SQL with actual SQL
for pred, actual in zip(predictions, actuals):
    print(f"Predicted SQL: {pred}\nActual SQL: {actual}\n")

Predicted SQL: SELECT T1.name, T1.team_id FROM postseason AS T1 JOIN team AS T2 ON T1.team_id = T2.team_id_winner WHERE T2.year = 2008 ORDER BY T2.wins DESC LIMIT 1
Actual SQL: SELECT T2.name, T1.team_id_winner FROM postseason AS T1 JOIN team AS T2 ON T1.team_id_winner = T2.team_id_br WHERE T1.year = 2008 GROUP BY T1.team_id_winner ORDER BY count(*) DESC LIMIT 1;

Predicted SQL: SELECT Reign, Days_held FROM wrestler
Actual SQL: SELECT Reign, Days_held FROM wrestler

Predicted SQL: SELECT allergytype, count(*) FROM Has_allergy GROUP BY allergytype
Actual SQL: SELECT T2.allergytype, count(*) FROM Has_allergy AS T1 JOIN Allergy_type AS T2 ON T1.allergy = T2.allergy GROUP BY T2.allergytype

Predicted SQL: SELECT count(*) FROM STUDENT AS T1 JOIN VOTING_RECORD AS T2 ON T1.StuID = Class_Senator_Vote WHERE T1.sex = "M" AND T2.Election_Cycle = "Fall"
Actual SQL: SELECT count(*) FROM STUDENT AS T1 JOIN VOTING_RECORD AS T2 ON T1.StuID = Class_Senator_Vote WHERE T1.Sex = "M" AND T2.Election_Cycle = "Fall"

Predicted SQL: SELECT cName FROM college WHERE enr > (SELECT max(enr) FROM college WHERE state = 'FL')
Actual SQL: SELECT cName FROM college WHERE enr > (SELECT max(enr) FROM college WHERE state = 'FL')

Predicted SQL: SELECT Team FROM Elimination WHERE Eliminated_By = "Orton" INTERSECT SELECT Team FROM Elimination WHERE Eliminated_Benjamin
Actual SQL: SELECT Team FROM Elimination WHERE Eliminated_By = "Orton" INTERSECT SELECT Team FROM Elimination WHERE Eliminated_By = "Benjamin"

Predicted SQL: SELECT Carrier FROM device GROUP BY Carrier HAVING COUNT(*) > 1
Actual SQL: SELECT T2.Carrier FROM stock AS T1 JOIN device AS T2 ON T1.Device_ID = T2.Device_ID GROUP BY T1.Device_ID HAVING COUNT(*) > 1

Predicted SQL: SELECT city FROM city WHERE regional_population > 10000000
Actual SQL: SELECT city FROM city WHERE regional_population > 10000000

Predicted SQL: SELECT date FROM weather WHERE zip_code = 94107 AND date!= 'Fog' AND weather!= 'Run'
Actual SQL: SELECT date FROM weather WHERE zip_code = 94107 AND EVENTS!= "Fog" AND EVENTS!= "Rain"

Predicted SQL: SELECT avg(T2.Weeks_on_Top) FROM artist AS T1 JOIN volume AS T2 ON T1.Artist_ID = T2.Artist_ID WHERE T1.age >= 25
Actual SQL: SELECT avg(T2.Weeks_on_Top) FROM artist AS T1 JOIN volume AS T2 ON T1.Artist_ID = T2.Artist_ID WHERE T1.age = 25

Predicted SQL: SELECT T1.name, T1.name FROM projects AS T1 JOIN scientists AS T2 ON T1.scientist = T2.SSN GROUP BY T1.name ORDER BY sum(T2.duration) LIMIT 1
Actual SQL: SELECT T2.name, T3.name FROM assignedto AS T1 JOIN projects AS T2 ON T1.project = T2.code JOIN scientists AS T3 ON T1.scientist = T3.SSN WHERE T2.hours = (SELECT min(hours) FROM projects)

Predicted SQL: SELECT sum(total) FROM invoices WHERE billing_state = 'Chicago' AND billing_state = 'Illais'
Actual SQL: SELECT sum(total) FROM invoices WHERE billing_city = "Chicago" AND billing_state = "IL";

Predicted SQL: SELECT avg(Price) FROM WINE WHERE County!= "Sonoma"
Actual SQL: SELECT avg(price) FROM wine WHERE Appelation NOT IN (SELECT T1.Appelation FROM APPELLATIONS AS T1 JOIN WINE AS T2 ON T1.Appelation = T2.Appelation WHERE T1.County = 'Sonoma')

Predicted SQL: SELECT first_name, city FROM employees WHERE first_name LIKE '%z%'
Actual SQL: SELECT T1.first_name, T1.last_name, T3.city FROM employees AS T1 JOIN departments AS T2 ON T1.department_id = T2.department_id JOIN locations AS T3 ON T2.location_id = T3.location_id WHERE T1.first_name LIKE '%z%'

Predicted SQL: SELECT count(DISTINCT party_name) FROM party
Actual SQL: SELECT count(DISTINCT party_name) FROM party

Predicted SQL: SELECT avg(winner_rank) FROM matches
Actual SQL: SELECT avg(winner_rank) FROM matches

Predicted SQL: SELECT Object_Number FROM railway WHERE id NOT IN (SELECT railway_id FROM train)
Actual SQL: SELECT ObjectNumber FROM railway WHERE Railway_ID NOT IN (SELECT Railway_ID FROM train)

Predicted SQL: SELECT max(product_price), min(product_price), product_type_code FROM products ORDER BY product_type_code
Actual SQL: SELECT max(product_price), min(product_price), product_type_code FROM products GROUP BY product_type_code ORDER BY product_type_code

Predicted SQL: SELECT T1.first_name, T1.last_name FROM customers AS T1 JOIN rental AS T2 ON T1.customer_id = T2.customer_id ORDER BY T2.rental_date DESC LIMIT 1
Actual SQL: SELECT T1.first_name, T1.last_name FROM customer AS T1 JOIN rental AS T2 ON T1.customer_id = T2.customer_id ORDER BY T2.rental_date ASC LIMIT 1

Predicted SQL: SELECT t1.customer_name FROM customers AS t1 JOIN customer_orders AS t2 ON t1.customer_id = t2.customer_id JOIN order_items AS t3 ON t2.order_id = t3.order_id WHERE t3.product_name = "food"
Actual SQL: SELECT T1.customer_name FROM customers AS T1 JOIN orders AS T2 JOIN order_items AS T3 JOIN products AS T4 ON T1.customer_id = T2.customer_id AND T2.order_id = T3.order_id AND T3.product_id = T4.product_id WHERE T4.product_name = "food" GROUP BY T1.customer_id HAVING count(*) >= 1

Predicted SQL: SELECT t1.lname FROM student AS t1 JOIN lives_in AS t2 ON t1.stuid = t2.stuid JOIN student AS t3 ON t2.stuid = t3.stuid WHERE t3.state = 'North Carolina' EXCEPT SELECT t1.lname FROM student AS t1 JOIN enroll AS t2 ON t1.stuid = T2.student_id WHERE t1.degree_code = 'North'
Actual SQL: SELECT T1.last_name FROM Students AS T1 JOIN Addresses AS T2 ON T1.current_address_id = T2.address_id WHERE T2.state_province_county = 'NorthCarolina' EXCEPT SELECT DISTINCT T3.last_name FROM Students AS T3 JOIN Student_Enrolment AS T4 ON T3.student_id = T4.student_id

Predicted SQL: SELECT invoice_number FROM invoices WHERE invoice_date  "1989-09-03" OR invoice_date > "2007-12-25"
Actual SQL: SELECT invoice_number FROM invoices WHERE invoice_date  "1989-09-03" OR invoice_date > "2007-12-25"

Predicted SQL: SELECT T2.name, T2.theme, count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id = T2.singer_id GROUP BY T1.concert_id
Actual SQL: SELECT T2.concert_name, T2.theme, count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id = T2.concert_id GROUP BY T2.concert_id

Predicted SQL: SELECT count(*), zip_code FROM weather WHERE max_wind_speed_mph >= 25 GROUP BY zip_code
Actual SQL: SELECT zip_code, count(*) FROM weather WHERE max_wind_Speed_mph >= 25 GROUP BY zip_code

Predicted SQL: SELECT Name, Population, Head_of_state FROM country ORDER BY SurfaceArea DESC LIMIT 1
Actual SQL: SELECT Name, population, HeadOfState FROM country ORDER BY SurfaceArea DESC LIMIT 1

Predicted SQL: SELECT job_id FROM jobs GROUP BY job_id HAVING count(*) > 1
Actual SQL: SELECT job_id FROM job_history WHERE end_date - start_date > 300 GROUP BY job_id HAVING COUNT(*) >= 2

Predicted SQL: SELECT package_option, series_name FROM TV_Channel WHERE highdefinition_TV = "TV"
Actual SQL: SELECT package_option, series_name FROM TV_Channel WHERE hight_definition_TV = "yes"

Predicted SQL: SELECT T2.Name, COUNT(*) FROM repair_assignment AS T1 JOIN machine AS T2 ON T1.machine_id = T2.machine_id JOIN technician AS T3 ON T1.technician_ID = T3.technician_ID GROUP BY T2.Name
Actual SQL: SELECT T2.Name, COUNT(*) FROM repair_assignment AS T1 JOIN technician AS T2 ON T1.technician_ID = T2.technician_ID GROUP BY T2.Name

Predicted SQL: SELECT DISTINCT location_name FROM Ref_locations
Actual SQL: SELECT DISTINCT Location_Name FROM LOCATIONS

Predicted SQL: SELECT count(*) FROM Flight
Actual SQL: SELECT count(*) FROM FLIGHTS

Predicted SQL: SELECT T1.id, T1.name FROM battle AS T1 JOIN killed AS T2 ON T1.battle_id = T2.battle_id GROUP BY T1.id HAVING count(*) > 10
Actual SQL: SELECT T1.id, T1.name FROM battle AS T1 JOIN ship AS T2 ON T1.id = T2.lost_in_battle JOIN death AS T3 ON T2.id = T3.caused_by_ship_id GROUP BY T1.id HAVING sum(T3.killed) > 10

Predicted SQL: SELECT grade FROM Highschooler
Actual SQL: SELECT grade FROM Highschooler

Predicted SQL: SELECT t1.name FROM employees AS t1 JOIN salary AS t2 ON t1.employee_id = t2.employee_id GROUP BY t1.employee_id ORDER BY count(*) LIMIT 3
Actual SQL: SELECT name FROM Employee ORDER BY salary ASC LIMIT 3

Predicted SQL: SELECT count(*) FROM STUDENT AS T1 JOIN VOTING_RECORD AS T2 ON T1.StuID = Class_Senator_Vote WHERE T1.city_code = "NYC" AND T2.Election_Cycle = "Spring"
Actual SQL: SELECT count(*) FROM STUDENT AS T1 JOIN VOTING_RECORD AS T2 ON T1.StuID = Class_Senator_Vote WHERE T1.city_code = "NYC" AND T2.Election_Cycle = "Spring"

Predicted SQL: SELECT max(height), avg(height) FROM mountain
Actual SQL: SELECT max(height), avg(height) FROM mountain

Predicted SQL: SELECT date_of_birth FROM Customers WHERE customer_status_code = 'Good Customer'
Actual SQL: SELECT date_of_birth FROM Customers WHERE customer_status_code = 'Good Customer'

Predicted SQL: SELECT DISTINCT Director FROM film WHERE YEAR = 1995
Actual SQL: SELECT DISTINCT T1.Director FROM film AS T1 JOIN film_market_estimation AS T2 ON T1.Film_ID = T2.Film_ID WHERE T2.Year = 1995

Predicted SQL: SELECT T2.name FROM Person AS T1 JOIN PersonFriend AS T2 ON T1.name = T2.name WHERE T2.name = 'Kyle'
Actual SQL: SELECT T3.name FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id = T2.id JOIN Highschooler AS T3 ON T1.friend_id = T3.id WHERE T2.name = "Kyle"

Predicted SQL: SELECT Major FROM Student
Actual SQL: SELECT DISTINCT Major FROM Student

Predicted SQL: SELECT T1.series_name, T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.directed_by = 'Michael Chang' AND T2.directed_by = 'Ben Jones'
Actual SQL: SELECT T1.series_name, T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.directed_by = 'Michael Chang' INTERSECT SELECT T1.series_name, T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.directed_by = 'Ben Jones'

Predicted SQL: SELECT T1.fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid = T2.stuid JOIN pets AS T3 ON T3.petid = T3.petid WHERE T3.pettype = 'cat' OR T3.pettype = 'dog'
Actual SQL: SELECT DISTINCT T1.Fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid = T2.stuid JOIN pets AS T3 ON T3.petid = T2.petid WHERE T3.pettype = 'cat' OR T3.pettype = 'dog'

Predicted SQL: SELECT T1.pName FROM tryout AS T1 JOIN participants AS T2 ON T1.pID = T2.pID ORDER BY T2.college DESC LIMIT 1
Actual SQL: SELECT T2.pName FROM tryout AS T1 JOIN player AS T2 ON T1.pID = T2.pID WHERE T1.cName = (SELECT cName FROM college ORDER BY enr DESC LIMIT 1)

Predicted SQL: SELECT dept_name, budget FROM department WHERE budget > (SELECT avg(budget) FROM department)
Actual SQL: SELECT dept_name, budget FROM department WHERE budget > (SELECT avg(budget) FROM department)

Predicted SQL: SELECT Theme FROM farm_competition ORDER BY YEAR ASC
Actual SQL: SELECT Theme FROM farm_competition ORDER BY YEAR ASC

Predicted SQL: SELECT catalog_entry_name FROM catalog_contents WHERE catalog_level_number = 8
Actual SQL: SELECT t1.catalog_entry_name FROM Catalog_Contents AS t1 JOIN Catalog_Contents_Additional_Attributes AS t2 ON t1.catalog_entry_id = t2.catalog_entry_id WHERE t2.catalog_level_number = "8"

Predicted SQL: SELECT T1.name FROM scientists AS T1 JOIN assignedto AS T2 ON T1.scientist = T2.SSN
Actual SQL: SELECT T2.name FROM assignedto AS T1 JOIN scientists AS T2 ON T1.scientist = T2.ssn

Predicted SQL: SELECT T2.title FROM Rating AS T1 JOIN Movie AS T2 ON T1.mID = T2.mID WHERE T1.name = "Brittany Harris" OR T1.year > 2000
Actual SQL: SELECT DISTINCT T2.title FROM Rating AS T1 JOIN Movie AS T2 ON T1.mID = T2.mID JOIN Reviewer AS T3 ON T1.rID = T3.rID WHERE T3.name = 'Brittany Harris' OR T2.year > 2000

Predicted SQL: SELECT count(*) FROM phone
Actual SQL: SELECT count(*) FROM phone

Predicted SQL: SELECT count(DISTINCT language_id) FROM countrylanguage
Actual SQL: SELECT count(DISTINCT LANGUAGE) FROM countrylanguage

Predicted SQL: SELECT count(DISTINCT roomType) FROM Rooms
Actual SQL: SELECT count(DISTINCT roomtype) FROM room

Predicted SQL: SELECT t3.title FROM authors AS t1 JOIN authorship AS t2 ON t1.authid = t2.authid JOIN papers AS t3 ON t2.paperid = t3.paperid WHERE t1.fname = "Olin" AND t1.lname = "Shivers"
Actual SQL: SELECT t3.title FROM authors AS t1 JOIN authorship AS t2 ON t1.authid = t2.authid JOIN papers AS t3 ON t2.paperid = t3.paperid WHERE t1.fname = "Olin" AND t1.lname = "Shivers"

Predicted SQL: SELECT format FROM files GROUP BY format ORDER BY count(*) DESC LIMIT 1
Actual SQL: SELECT formats FROM files GROUP BY formats ORDER BY COUNT (*) DESC LIMIT 1

Predicted SQL: SELECT T1.balance, T1.name FROM accounts AS T1 JOIN checking AS T2 ON T1.custid = T2.custid JOIN savings AS T3 ON T1.custid = T3.custid ORDER BY T3.balance
Actual SQL: SELECT T1.balance + T2.balance FROM checking AS T1 JOIN savings AS T2 ON T1.custid = T2.custid ORDER BY T1.balance + T2.balance

Predicted SQL: SELECT count(*) FROM airports
Actual SQL: SELECT count(*) FROM AIRPORTS

Predicted SQL: SELECT RESULT FROM music_festival GROUP BY RESULT ORDER BY COUNT(*) DESC LIMIT 1
Actual SQL: SELECT RESULT FROM music_festival GROUP BY RESULT ORDER BY COUNT(*) DESC LIMIT 1

Predicted SQL: SELECT date_from, date_to FROM ROLES WHERE role_code ='researcher'
Actual SQL: SELECT date_from, date_to FROM Project_Staff WHERE role_code ='researcher'

Predicted SQL: SELECT pixel_aspect_ ratio, nation FROM TV_Channel WHERE LANGUAGE!= 'English'
Actual SQL: SELECT Pixel_aspect_ratio_PAR, country FROM tv_channel WHERE LANGUAGE!= 'English'

Predicted SQL: SELECT price_range FROM HOTELS
Actual SQL: SELECT price_range FROM HOTELS

Predicted SQL: SELECT T1.active_to_date FROM customers AS T1 JOIN customer_contact_channels AS T2 ON T1.customer_id = T2.customer_id WHERE T2.customer_name = "Tillman Ernser" ORDER BY T2.date_active_to_date LIMIT 1
Actual SQL: SELECT max(t2.active_to_date) FROM customers AS t1 JOIN customer_contact_channels AS t2 ON t1.customer_id = t2.customer_id WHERE t1.customer_name = "Tillman Ernser"

Predicted SQL: SELECT count(*) FROM CARS_DATA WHERE Cylinders > 6;
Actual SQL: SELECT COUNT(*) FROM CARS_DATA WHERE Cylinders > 6;

Predicted SQL: SELECT product_category_description, unit_of_measure FROM products WHERE product_category_code = "Herbs"
Actual SQL: SELECT product_category_description, unit_of_measure FROM ref_product_categories WHERE product_category_code = "Herbs"

Predicted SQL: SELECT customer_id, count(*) FROM Accounts GROUP BY customer_id
Actual SQL: SELECT customer_id, count(*) FROM Accounts GROUP BY customer_id

Predicted SQL: SELECT name FROM races WHERE YEAR > 12:00:00 OR YEAR  09:00:00
Actual SQL: SELECT name FROM races WHERE TIME > "12:00:00" OR TIME  "09:00:00"

Predicted SQL: SELECT T1.customer_last_name, T1.customer_id, T1.customer_phone FROM customers AS T1 JOIN orders AS T2 ON T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1
Actual SQL: SELECT T2.customer_last_name, T1.customer_id, T2.phone_number FROM Orders AS T1 JOIN Customers AS T2 ON T1.customer_id = T2.customer_id GROUP BY T1.customer_id ORDER BY count(*) DESC LIMIT 1

Predicted SQL: SELECT count(*) FROM inventory WHERE inventory = 1
Actual SQL: SELECT count(*) FROM inventory WHERE store_id = 1

Predicted SQL: SELECT Country FROM member GROUP BY Country HAVING COUNT(*) > 2
Actual SQL: SELECT Country FROM member GROUP BY Country HAVING COUNT(*) > 2

Predicted SQL: SELECT apt_type_code FROM Apartments ORDER BY avg(room_count) DESC LIMIT 3
Actual SQL: SELECT apt_type_code FROM Apartments GROUP BY apt_type_code ORDER BY avg(room_count) DESC LIMIT 3

Predicted SQL: SELECT T1.Service_Type_Description FROM Services AS T1 JOIN Products AS T2 ON T1.Service_Type_Code = T2.Service_Type_Code WHERE T2.Product_Name = "photo" INTERSECT SELECT T1.Service_Type_Description FROM Services AS T1 JOIN Products AS T2 ON T1.Product_Type_Code = T2.Product_Type_Code WHERE T2.Product_Name = "film"
Actual SQL: SELECT T1.Service_Type_Description FROM Ref_Service_Types AS T1 JOIN Services AS T2 ON T1.Service_Type_Code = T2.Service_Type_Code WHERE T2.Product_Name = 'photo' INTERSECT SELECT T1.Service_Type_Description FROM Ref_Service_Types AS T1 JOIN Services AS T2 ON T1.Service_Type_Code = T2.Service_Type_Code WHERE T2.Product_Name = 'film'

Predicted SQL: SELECT T1.grant_start_date FROM Grants AS T1 JOIN Documents AS T2 ON T1.grant_id = T2.grant_id WHERE T2.document_description = 'Regular' INTERSECT SELECT T1.grant_start_date FROM Grants AS T1 JOIN Documents AS T2 ON T1.grant_id = T2.grant_id WHERE T2.document_description = 'Initial Application'
Actual SQL: SELECT T1.grant_start_date FROM Grants AS T1 JOIN Documents AS T2 ON T1.grant_id = T2.grant_id JOIN Document_Types AS T3 ON T2.document_type_code = T3.document_type_code WHERE T3.document_description = 'Regular' INTERSECT SELECT T1.grant_start_date FROM Grants AS T1 JOIN Documents AS T2 ON T1.grant_id = T2.grant_id JOIN Document_Types AS T3 ON T2.document_type_code = T3.document_type_code WHERE T3.document_description = 'Initial Application'

Predicted SQL: SELECT Name, YEAR FROM independence ORDER BY Population ASC LIMIT 1
Actual SQL: SELECT Name, SurfaceArea, IndepYear FROM country ORDER BY Population LIMIT 1

Predicted SQL: SELECT avg(age) FROM artist
Actual SQL: SELECT avg(Age) FROM artist

Predicted SQL: SELECT T1.Area FROM APPELLATIONS AS T1 JOIN WINE AS T2 ON T1.Appelation = T2.Appelation GROUP BY T1.Appelation ORDER BY T1.year  2010 DESC LIMIT 1
Actual SQL: SELECT T1.Area FROM APPELLATIONS AS T1 JOIN WINE AS T2 ON T1.Appelation = T2.Appelation GROUP BY T2.Appelation HAVING T2.year  2010 ORDER BY count(*) DESC LIMIT 1

Predicted SQL: SELECT name FROM physician WHERE physician_id NOT IN (SELECT physician_id FROM appointment)
Actual SQL: SELECT name FROM physician EXCEPT SELECT T2.name FROM appointment AS T1 JOIN physician AS T2 ON T1.Physician = T2.EmployeeID

Predicted SQL: SELECT T1.product_name FROM products AS T1 JOIN complaints AS T2 ON T1.product_id = T2.product_id GROUP BY T1.product_id ORDER BY count(*) LIMIT 1
Actual SQL: SELECT DISTINCT t1.product_name FROM products AS t1 JOIN complaints AS t2 ON t1.product_id = t2.product_id JOIN customers AS t3 GROUP BY t3.customer_id ORDER BY count(*) LIMIT 1

Predicted SQL: SELECT T1.Shop_Name FROM shop AS T1 JOIN stock AS T2 ON T1.Shop_ID = T2.Shop_ID GROUP BY T1.Shop_ID ORDER BY Quantity DESC LIMIT 1
Actual SQL: SELECT T2.Shop_Name FROM stock AS T1 JOIN shop AS T2 ON T1.Shop_ID = T2.Shop_ID GROUP BY T1.Shop_ID ORDER BY SUM(T1.quantity) DESC LIMIT 1

Predicted SQL: SELECT T1.fname FROM Faculty AS T1 JOIN Faculty_participates_in AS T2 ON T1.facID = T2.facID JOIN activity AS T3 ON T2.actid = T3.actid WHERE T3.activity_name = 'Canoeing' INTERSECT SELECT T1.fname FROM Faculty AS T1 JOIN activity AS T2 ON T1.facID = T2.actid WHERE T2.activity_name = 'Kayaking'
Actual SQL: SELECT T1.lname FROM Faculty AS T1 JOIN Faculty_participates_in AS T2 ON T1.facID = T2.facID JOIN activity AS T3 ON T2.actid = T2.actid WHERE T3.activity_name = 'Canoeing' INTERSECT SELECT T1.lname FROM Faculty AS T1 JOIN Faculty_participates_in AS T2 ON T1.facID = T2.facID JOIN activity AS T3 ON T2.actid = T2.actid WHERE T3.activity_name = 'Kayaking'

Predicted SQL: SELECT avg(Total_Passengers) FROM airport AS T1 JOIN aircraft AS T2 ON T1.Aircraft_ID = T2.Aircraft_ID WHERE T2.Aircraft = "Robinson R-22"
Actual SQL: SELECT avg(T3.Total_Passengers) FROM aircraft AS T1 JOIN airport_aircraft AS T2 ON T1.Aircraft_ID = T2.Aircraft_ID JOIN airport AS T3 ON T2.Airport_ID = T3.Airport_ID WHERE T1.Aircraft = "Robinson R-22"

Predicted SQL: SELECT T1.name FROM singer AS T1 JOIN song AS T2 ON T1.singer_id = T2.singer_id WHERE T2.age > (SELECT avg(age) FROM singer)
Actual SQL: SELECT song_name FROM singer WHERE age > (SELECT avg(age) FROM singer)

Predicted SQL: SELECT T1.contestant_number, T1.contestant_name FROM contestants AS T1 JOIN votes AS T2 ON T1.contestant_number = T2.contestant_number ORDER BY count(*) ASC LIMIT 1

# Step 10: Save the Fine-Tuned Model and Tokenizer

In [88]:
# Define the output directory
output_dir = '/content/drive/MyDrive/Colab Notebooks/NLP/SavedModels/attempt_5/finetuned_model/run2'

# Create the output directory if it doesn't exist
os.makedirs(output_dir, exist_ok=True)

# Save the fine-tuned model and tokenizer
model.save_pretrained(output_dir)
tokenizer.save_pretrained(output_dir)

('/content/drive/MyDrive/Colab Notebooks/NLP/SavedModels/attempt_5/finetuned_model/run2/tokenizer_config.json',
 '/content/drive/MyDrive/Colab Notebooks/NLP/SavedModels/attempt_5/finetuned_model/run2/special_tokens_map.json',
 '/content/drive/MyDrive/Colab Notebooks/NLP/SavedModels/attempt_5/finetuned_model/run2/spiece.model',
 '/content/drive/MyDrive/Colab Notebooks/NLP/SavedModels/attempt_5/finetuned_model/run2/added_tokens.json')

# Step 11: Using the Model for Prompting

In [89]:
def generate_sql(question, max_length):
    input_ids = tokenizer.encode(question, return_tensors='pt').to(model.device)
    with torch.no_grad():
        output = model.generate(input_ids, max_new_tokens=max_length)
    generated_sql = tokenizer.decode(output[0], skip_special_tokens=True)
    return generated_sql

In [90]:
# Example prompt usage
question = "How many heads of the departments are older than 56?"
predicted_sql_query = generate_sql(question, 5000)
print(f"Generated SQL Query: {predicted_sql_query}")

Generated SQL Query: SELECT count(*) FROM head WHERE age > 56

# Smaller dataset results in underfitting - HENCE model is not able to learn much.

Things to do

1. Increase training set
2. Adjust learning rate
3. Create tailored prompts.

In [91]:
question='For those employees who did not have any job in the past, give me the comparison about the amount of job_id over the job_id , and group by attribute job_id, and list from low to high by the JOB_ID please.'

predicted_sql_query = generate_sql(question, 200)
print(f"Generated SQL Query: {predicted_sql_query}")

Generated SQL Query: select count(*), group_by_job_id from employees where job_id not in ( select job_id from employees where job_history ), job_id from employees where job_history ), job_id from employees where job_history!= 'yes' )

In [92]:
question='What total employees in Employee table?'

predicted_sql_query = generate_sql(question, 2000)
print(f"Generated SQL Query: {predicted_sql_query}")

Generated SQL Query: SELECT sum(employee_id) FROM Employees

In [93]:
question='There is a department table with columns department_id employee_id department_name.Employee table with employee_id and department_name.Join department and employee tables based on employee_id column?'

predicted_sql_query = generate_sql(question, 2000)
print(f"Generated SQL Query: {predicted_sql_query}")

Generated SQL Query: SELECT department_id, department_name FROM employees UNION SELECT department_id, department_name FROM employees WHERE department_id = 'Employee'